%meta{:charset => "UTF-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}

= csrf_meta_tags
= stylesheet_link_tag "application", media: 'all'
= stylesheet_link_tag "login", media: 'all'

-# = render 'application/favicon'
