- if current_user.admin?
- else

.card.card-body
  .h3 Buscar Produto
  = render 'products/filter'

.row
  .col-6
    .card.card-body
      .h3 Ultimas Saídas
  .col-6
    .card.card-body
      .h3 Ultimas Despesas
      = render 'expenses/table_expenses'