.block-tag.w-100.pb-2.m-0
  .print-tag.h-100
    = render 'products/barcode', tag: @product

.print 
  = link_to "#", class: 'text-info' do
    %btn.btn.btn-outline-info
      = icon('fas', 'print')
      = "Imprimir"