.col-lg-12
  .col.text-center
    %h2.text-dark
      = "Entrada de Produtos"

%table.table.table-striped.table-sm
  %thead
    %tr
      %th.text-center
        %b #
      %th.text-center
        %b Produtos
      -# %th.text-center
      -#   %b Quantidade
      -# %th.text-center
      -#   %b Localização
      -# %th
  %tbody
    - @sales.each do |sale|
      %tr
        %td.text-center= sale.id
        %td.text-center= sale.products_name